<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ML Model Demo</title>
  </head>
  <body>
    <h1>ML Model Demo</h1>
    <form action="{{ url_for('predict') }}" method="POST">
      <label for="day">Day:</label>
      <input type="text" name="day" id="day"><br>
      <label for="month">Month:</label>
      <input type="text" name="month" id="month"><br>
      <label for="weekend">Weekend:</label>
      <input type="text" name="weekend" id="weekend"><br>
      <label for="item">Item:</label>
      <input type="text" name="item" id="item"><br>
      <label for="store">Store:</label>
      <input type="text" name="store" id="store"><br>
      <input type="submit" value="Submit">
    </form>
    <br>
    {{prediction_text}}
  </body>
</html>